 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.grid-container {
  position: relative;
  display: grid;
 grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );;
  
}
.fill {object-fit: fill;}
.contain {object-fit: contain;}
.cover {object-fit: cover;}
.scale-down {object-fit: scale-down;}
.none {object-fit: none;}
.card-custom {
        max-width: 20.5%;
    }

.card-custom2 {
        max-width: 250px;
}
.flip-cards {
  background-color: transparent;
  width: 20.5%;
  height: auto;
  margin-top: 1;
 /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.card {
/*  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
*/  padding: 0px;
  text-align: center;
  border: none;
/*  background-color: #f1f1f1;
*/
}

.card:hover {
/*  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
*/
}
.container {
  padding: 10px 10px 10px 10px;

}

.font-autosize{
  /* font-style custom*/
}
 @media only screen and (min-width: 1080px) and (max-width: 1920px) {
    .font-autosize {
      font-size:30px;

       } }
 @media only screen and (min-width: 1200px) and (max-width: 1499px) {
    .font-autosize {
      font-size:30px;

       } }

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .font-autosize {
     position: relative;
     z-index: 1;
     text-align:center;
     font-size:25px    
       } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .font-autosize {
     position: relative;
     z-index: 1;
     text-align:center;
     font-size:20px;
       } }
  @media only screen and (max-width: 767px) {
    .font-autosize {
      position: relative;
      z-index: 1;
      text-align:center;
      font-size:16px;
     } }
video{

}
 @media only screen and (width: 1920px) and (height: 1080px) {
    video {
      width: 100%;
      height: 423px;
      -webkit-background-size:cover; 
      -moz-background-size:cover; 
      -o-background-size:cover;
      background-size: cover;
     } }

  @media only screen and (width: 1080px) and (height: 1920px) {
    video {
      width: 100%;
      height: 212px; 
      -webkit-background-size:cover; 
      -moz-background-size:cover; 
      -o-background-size:cover;
      background-size: cover;
    } }
    @media only screen and (width: 1440px) and (height: 900px) {
    video {
      width: 100%;
      height: 315px; 
      -webkit-background-size:cover; 
      -moz-background-size:cover; 
      -o-background-size:cover;
      background-size: cover;
    } }
    @media only screen and (width: 900px) and (height: 1440px) {
    video {
      width: 100%;
      height: 170px; 
      -webkit-background-size:cover; 
      -moz-background-size:cover; 
      -o-background-size:cover;
      background-size: cover;
    } }
    @media only screen and (width: 1280px) and (height: 800px) {
    video {
      width: 100%;
      height: 280px; 
      -webkit-background-size:cover; 
      -moz-background-size:cover; 
      -o-background-size:cover;
      background-size: cover;
    } }
    @media only screen and (width: 800px) and (height: 1280px) {
    video {
      width: 100%;
      height: 147px; 
      -webkit-background-size:cover; 
      -moz-background-size:cover; 
      -o-background-size:cover;
      background-size: cover;
    } }
    @media only screen and (width: 1280px) and (height: 720px) {
    video {
      width: 100%;
      height: 287px; 
      -webkit-background-size:cover; 
      -moz-background-size:cover; 
      -o-background-size:cover;
      background-size: cover;
    } }
    @media only screen and (width: 720px) and (height: 1280px) {
    video {
      width: 100%;
      height: 140px; 
      -webkit-background-size:cover; 
      -moz-background-size:cover; 
      -o-background-size:cover;
      background-size: cover;
    } }
  

.konten {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% -30px);
  flex: 0 0 calc(100% -30px);
  max-width: calc(100% -30px);
  width: calc(100% -30px);
  margin-left: 15px;
  margin-right: 15px; }
  @media only screen and (min-width: 1080px) and (max-width: 1920px) {
    .konten {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 32px);
      flex: 0 0 calc(100% - 32px);
      max-width: calc(100% - 32px);
      width: calc(100% - 32px);
      height: calc(100% - 32px);

       } }
  @media only screen and (min-width: 1200px) and (max-width: 1499px) {
    .konten {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 30px);
      flex: 0 0 calc(100% - 30px);
      max-width: calc(100% - 30px);
      width: calc(100% - 30px);
      height: calc(100% - 30px);

       } }

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .konten {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 30px);
      flex: 0 0 calc(100% - 30px);
      max-width: calc(100% - 30px);
      width: calc(100% - 30px);
      height: calc(100% - 30px);
    
       } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .konten {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 30px);
      flex: 0 0 calc(100% - 30px);
      max-width: calc(100% - 30px);
      width: calc(100% - 30px);
      height: calc(100% - 30px);
      
       } }
  @media only screen and (max-width: 767px) {
    .konten {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 30px);
      flex: 0 0 calc(100% - 30px);
      max-width: calc(100% - 30px);
      width: calc(100% - 30px); 
      height: calc(100% - 30px);
     
     } }

.neptune {
  position: relative;
  z-index: 1; }
  .neptune .owl-prev,
  .neptune .owl-next {
    position: absolute;
    background-color: rgba(235, 235, 235, 0.2);
    width: 50px;
    height: 50px;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    line-height: 54px;
    top: 50%;
    left: 3%;
    margin-top: -25px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms; }
    @media only screen and (max-width: 767px) {
      .neptune .owl-prev,
      .neptune .owl-next {
        width: 40px;
        height: 40px;
        font-size: 18px;
        line-height: 44px;
        margin-top: -20px; } }
    .neptune .owl-prev:hover, .neptune .owl-prev:focus,
    .neptune .owl-next:hover,
    .neptune .owl-next:focus {
      background-color: #ed3974; }
  .hero-area .owl-next {
    left: auto;
    right: 3%; }

.heros-area {
  position: relative;
  z-index: 1; }
  .heros-area .owl-prev,
  .heros-area .owl-next {
    position: absolute;
    background-color: rgba(235, 235, 235, 0.2);
    width: 50px;
    height: 50px;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    line-height: 54px;
    top: 50%;
    left: 3%;
    margin-top: -25px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms; }
    @media only screen and (max-width: 767px) {
      .heros-area .owl-prev,
      .heros-area .owl-next {
        width: 40px;
        height: 40px;
        font-size: 18px;
        line-height: 44px;
        margin-top: -20px; } }
    .heros-area .owl-prev:hover, .heros-area .owl-prev:focus,
    .heros-area .owl-next:hover,
    .heros-area .owl-next:focus {
      background-color: #ed3974; }
  .heros-area .owl-next {
    left: auto;
    right: 3%; }

.sections-heading {
  position: relative;
  z-index: 1;
  width: 10;
  margin-bottom: 1px;
  background-color: #f2f4f5;
  padding: 5px 1px;
  border-left: 4px solid #ed3974; }
  .sections-heading h5 {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1;
     }
    @media only screen and (max-width: 700px) {
      .sections-heading h5 {
        font-size: 16px; } }
* {
  box-sizing: border-box;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
 /* display: table; */
  clear: both;
}



/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.berita-slides {
  position: relative;
  z-index: 1; }
  .trending-post-slides .owl-prev,
  .trending-post-slides .owl-next,
  .featured-video-posts-slide .owl-prev,
  .featured-video-posts-slide .owl-next,
  .most-viewed-videos-slide .owl-prev,
  .most-viewed-videos-slide .owl-next,
  .berita-slides .owl-prev,
  .berita-slides .owl-next {
    position: absolute;
    background-color: #e1e1e1;
    width: 40px;
    height: 40px;
    color: #272727;
    font-size: 18px;
    text-align: center;
    line-height: 42px;
    top: -70px;
    right: 41px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms; }
    .trending-post-slides .owl-prev:hover, .trending-post-slides .owl-prev:focus,
    .trending-post-slides .owl-next:hover,
    .trending-post-slides .owl-next:focus,
    .featured-video-posts-slide .owl-prev:hover,
    .featured-video-posts-slide .owl-prev:focus,
    .featured-video-posts-slide .owl-next:hover,
    .featured-video-posts-slide .owl-next:focus,
    .most-viewed-videos-slide .owl-prev:hover,
    .most-viewed-videos-slide .owl-prev:focus,
    .most-viewed-videos-slide .owl-next:hover,
    .most-viewed-videos-slide .owl-next:focus,
    .berita-slides .owl-prev:hover,
    .berita-slides .owl-prev:focus,
    .berita-slides .owl-next:hover,
    .berita-slides .owl-next:focus {
      background-color: #ed3974;
      color: #ffffff; }
    @media only screen and (max-width: 767px) {
      .trending-post-slides .owl-prev,
      .trending-post-slides .owl-next,
      .featured-video-posts-slide .owl-prev,
      .featured-video-posts-slide .owl-next,
      .most-viewed-videos-slide .owl-prev,
      .most-viewed-videos-slide .owl-next,
      .berita-slides .owl-prev,
      .berita-slides .owl-next {
        width: 20px;
        right: 21px;
        height: 36px;
        top: -66px; } }
  .trending-post-slides .owl-next,
  .featured-video-posts-slide .owl-next,
  .most-viewed-videos-slide .owl-next,
  .berita-slides .owl-next {
    right: 0; }

.posts-sidebar-area {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 790px);
  flex: 0 0 calc(100% - 790px);
  max-width: calc(100% - 790px);
  width: calc(100% - 790px);
  margin-left: 15px;
  margin-right: 15px; }
  @media only screen and (min-width: 1080px) and (max-width: 1920px) {
    .posts-sidebar-area {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 1260px);
      flex: 0 0 calc(100% - 1260px);
      max-width: calc(100% - 1260px);
      width: calc(100% - 1260px) } }
  @media only screen and (min-width: 1200px) and (max-width: 1499px) {
    .posts-sidebar-area {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 730px);
      flex: 0 0 calc(100% - 730px);
      max-width: calc(100% - 730px);
      width: calc(100% - 730px) } }
  @media only screen and (min-width: 780px) and (max-width: 1280px) {
    .posts-sidebar-area {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 660px);
      flex: 0 0 calc(100% - 660px);
      max-width: calc(100% - 660px);
      width: calc(100% - 660px) } }    
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .posts-sidebar-area {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 30px);
      flex: 0 0 calc(100% - 30px);
      max-width: calc(100% - 30px);
      width: calc(100% - 30px); } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .posts-sidebar-area {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 30px);
      flex: 0 0 calc(100% - 30px);
      max-width: calc(100% - 30px);
      width: calc(100% - 30px); } }
  @media only screen and (max-width: 767px) {
    .posts-sidebar-area {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 30px);
      flex: 0 0 calc(100% - 30px);
      max-width: calc(100% - 30px);
      width: calc(100% - 30px); } }

.audio-style{
  /** editor style **/
  position: relative;
  text-align: center;
}

     